Repository Paciente8159/uCNC, pull requests merged in 2022-05, with the labels that each got.

#178 $G $P $I and $# executes without IDLE
  .vscode/launch.json
  CHANGELOG.md
  uCNC/src/core/parser.c
Labels: tested: OK, core: parser

#179 added automatic status report option
  CHANGELOG.md
  uCNC/cnc_config.h
  uCNC/src/cnc.c
Labels: core: config, tested: OK

#180 redesigned dual limits detection
  .vscode/launch.json
  CHANGELOG.md
  uCNC/src/cnc.c
  uCNC/src/cnc_hal_config_helper.h
  uCNC/src/core/io_control.c
  uCNC/src/core/motion_control.c
  uCNC/src/hal/mcus/virtual/mcumap_virtual.h
  uCNC/src/interface/protocol.c
Labels: bug, core: HAL, tested: OK

#182 partially-revert-163
  CHANGELOG.md
  uCNC/src/interface/settings.c
Labels: core: config, tested: OK

#183 added filter to invert control setting
  CHANGELOG.md
  uCNC/src/cnc_hal_config_helper.h
  uCNC/src/core/io_control.c
Labels: core: config, tested: OK

#184 Rename `GOCDE` -> `GCODE`.
  makefiles/samd21/main.c
  makefiles/samd21/samd21.c
  makefiles/stm32f1x/main.c
  makefiles/stm32f1x/stm32f1x.c
  makefiles/stm32f4x/main.c
  makefiles/stm32f4x/stm32f4x.c
  uCNC/src/core/parser.c
  uCNC/src/interface/grbl_interface.h
  uCNC/src/interface/protocol.c
  uCNC/src/module.c
  uCNC/src/modules/digipins.c
  uCNC/src/modules/digipot.c
  uCNC/src/modules/parser_m42.c
  uCNC/src/modules/tmc.c
Labels: tested: OK, core: general

#188 fixed G49 not working
  uCNC/src/core/parser.c
Labels: bug, tested: OK

#189 G10 l20 support
  CHANGELOG.md
  makefiles/virtual/uCNC.dev
  uCNC/src/core/parser.c
Labels: new feature, tested: OK, core: parser

#190 overridable F_STEP_MAX and F_STEP_MIN
  CHANGELOG.md
  uCNC/src/hal/mcus/samd21/mcumap_samd21.h
  uCNC/src/hal/mcus/stm32f1x/mcumap_stm32f1x.h
  uCNC/src/hal/mcus/stm32f4x/mcumap_stm32f4x.h
  uCNC/src/hal/mcus/virtual/mcumap_virtual.h
Labels: core: config, tested: OK

#191 added example for BESC spindle
  CHANGELOG.md
  uCNC/src/hal/tools/tools/spindle_besc.c
Labels: needs: testing, new feature: tools

#192 fix tool not stopping on ESTOP
  CHANGELOG.md
  uCNC/src/core/io_control.c
Labels: bug, tested: OK, core: motion control

#193 motion systems unsync after ESTOP
  CHANGELOG.md
  uCNC/src/cnc.c
Labels: bug, tested: OK, core: motion control

#196 new startup message
  CHANGELOG.md
  uCNC/src/cnc_build.h
  uCNC/src/interface/grbl_interface.h
Labels: tested: OK, core: general

#197 updated M42
  CHANGELOG.md
  uCNC/src/hal/boards/avr/boardmap_ramps14.h
  uCNC/src/modules/parser_m42.c
Labels: core: HAL, HAL: AVR, tested: OK

#198 updated $P status report
  CHANGELOG.md
  uCNC/src/interface/protocol.c
Labels: core: HAL, tested: OK

#200 Improved besc spindle
  CHANGELOG.md
  uCNC/src/hal/tools/tools/spindle_besc.c
Labels: core: config, tested: OK

#201 fixed DIN0-7 ISR
  CHANGELOG.md
  uCNC/src/hal/boards/avr/boardmap_rambo14.h
  uCNC/src/hal/boards/avr/boardmap_ramps14.h
  uCNC/src/hal/mcus/avr/mcu_avr.c
Labels: bug, HAL: AVR, tested: OK

#203 redesigned tool speed feedback
  uCNC/cnc_hal_config.h
  uCNC/src/core/interpolator.c
  uCNC/src/core/interpolator.h
  uCNC/src/hal/tools/tool.c
  uCNC/src/hal/tools/tool.h
  uCNC/src/hal/tools/tools/laser.c
  uCNC/src/hal/tools/tools/spindle_besc.c
  uCNC/src/hal/tools/tools/spindle_pwm.c
  uCNC/src/hal/tools/tools/spindle_relay.c
  uCNC/src/interface/protocol.c
Labels: core: HAL, tested: OK

#204 coordinates override on multiple G10
  CHANGELOG.md
  uCNC/src/core/parser.c
Labels: bug, tested: OK, core: parser

#205 logic error with dual limit switch inverted
  CHANGELOG.md
  uCNC/src/cnc.c
  uCNC/src/core/io_control.c
  uCNC/src/core/io_control.h
  uCNC/src/core/motion_control.c
Labels: bug, tested: OK, core: motion control

#207 XOR limits while HOMING
  CHANGELOG.md
  uCNC/src/core/io_control.c
Labels: bug, core: HAL

#194 fixed slow exit on new interpolator profile
  uCNC/src/core/interpolator.c
Labels: tested: OK, core: motion control

#206 modifications to encoder module
  CHANGELOG.md
  uCNC/cnc_hal_config.h
  uCNC/src/cnc.c
  uCNC/src/cnc_hal_config_helper.h
  uCNC/src/core/io_control.c
  uCNC/src/hal/boards/avr/boardmap_ramps14.h
  uCNC/src/hal/tools/tools/spindle_besc.c
  uCNC/src/module.c
  uCNC/src/modules/encoder.c
Labels: tested: OK, module: encoder, module: core

#211 fix G28-G30 not updating parser position
  uCNC/src/core/parser.c
Labels: bug, tested: OK, core: motion control

#213 Stepper encoder
  platformio.ini
  uCNC/cnc_config.h
  uCNC/cnc_hal_config.h
  uCNC/src/cnc.c
  uCNC/src/cnc.h
  uCNC/src/cnc_hal_config_helper.h
  uCNC/src/core/interpolator.c
  uCNC/src/hal/boards/avr/boardmap_ramps14_mirror.h
  uCNC/src/hal/boards/boarddefs.h
  uCNC/src/hal/boards/boards.h
  uCNC/src/hal/mcus/avr/mcu_avr.c
  uCNC/src/hal/mcus/avr/mcumap_avr.h
  uCNC/src/interface/protocol.c
  uCNC/src/modules/encoder.c
  uCNC/src/modules/encoder.h
Labels: bug, HAL: AVR, tested: OK, module: encoder

#209 Disable per axis homing
  CHANGELOG.md
  uCNC/cnc_hal_config.h
  uCNC/src/hal/kinematics/kinematic_cartesian.c
  uCNC/src/hal/kinematics/kinematic_corexy.c
  uCNC/src/hal/kinematics/kinematic_delta.c
Labels: core: HAL, core: config, tested: OK

#208 self squaring optional with dual-drive
  uCNC/cnc_hal_config.h
  uCNC/src/cnc_hal_config_helper.h
  uCNC/src/core/io_control.c
Labels: core: HAL, core: config, tested: OK

#212 Redesign inputs ISR
  CHANGELOG.md
  platformio.ini
  uCNC/cnc_config.h
  uCNC/cnc_hal_config.h
  uCNC/src/cnc.c
  uCNC/src/cnc.h
  uCNC/src/cnc_hal_config_helper.h
  uCNC/src/core/interpolator.c
  uCNC/src/core/io_control.c
  uCNC/src/core/motion_control.c
  uCNC/src/hal/boards/avr/boardmap_ramps14_mirror.h
  uCNC/src/hal/boards/boarddefs.h
  uCNC/src/hal/boards/boards.h
  uCNC/src/hal/kinematics/kinematic_cartesian.c
  uCNC/src/hal/kinematics/kinematic_corexy.c
  uCNC/src/hal/kinematics/kinematic_delta.c
  uCNC/src/hal/mcus/avr/mcu_avr.c
  uCNC/src/hal/mcus/avr/mcumap_avr.h
  uCNC/src/hal/mcus/stm32f1x/mcu_stm32f1x.c
  uCNC/src/hal/mcus/stm32f4x/mcu_stm32f4x.c
  uCNC/src/hal/mcus/virtual/mcumap_virtual.h
  uCNC/src/interface/protocol.c
  uCNC/src/modules/encoder.c
  uCNC/src/modules/encoder.h
Labels: core: HAL, tested: OK, HAL: multi platform

#214 fixed input ISR on AVR
  CHANGELOG.md
  uCNC/cnc_config.h
  uCNC/src/hal/mcus/avr/mcu_avr.c
  uCNC/src/hal/mcus/avr/mcumap_avr.h
Labels: bug, HAL: AVR, tested: OK

#217 redesigned settings
  CHANGELOG.md
  uCNC/cnc_config.h
  uCNC/src/interface/defaults.h
  uCNC/src/interface/settings.c
  uCNC/src/interface/settings.h
Labels: core: config, tested: OK, core: general

#218 moved cnc_dotasks hook
  CHANGELOG.md
  uCNC/src/cnc.c
Labels: core: config, tested: OK, module: core

#219 parser tweak for modules
  uCNC/src/core/parser.c
  uCNC/src/core/parser.h
Labels: tested: OK, core: parser
