Repository Paciente8159/uCNC, pull requests merged in 2023-01, with the labels that each got.

#346 Extended parser module support
  uCNC/src/core/parser.c
  uCNC/src/core/parser.h
  uCNC/src/interface/protocol.c
  uCNC/src/interface/protocol.h
Labels: tested: OK, core: parser, module: core, new feature: module

#350 resets motion block max_accel after each line
  uCNC/src/core/motion_control.c
Labels: bug, tested: OK, core: motion control

#348 Added UNO Shield V3 board
  uCNC/src/hal/boards/avr/avr.ini
  uCNC/src/hal/boards/avr/boardmap_uno_shield_v3.h
  uCNC/src/hal/boards/boarddefs.h
  uCNC/src/hal/boards/boards.h
Labels: HAL: AVR, tested: OK, new feature: HAL

#353 352 bug some alarms are not being printed
  uCNC/src/cnc.c
  uCNC/src/cnc.h
  uCNC/src/cnc_hal_config_helper.h
  uCNC/src/core/interpolator.c
  uCNC/src/core/io_control.c
  uCNC/src/core/motion_control.c
  uCNC/src/core/parser.c
  uCNC/src/core/parser.h
  uCNC/src/hal/mcus/virtual/mcu_virtual.c
  uCNC/src/interface/grbl_interface.h
  uCNC/src/interface/protocol.c
Labels: bug, needs: testing, core: general, enhancement

#356 fixed reference to servo pin offset
  uCNC/src/core/parser.c
  uCNC/src/hal/mcus/avr/mcu_avr.c
  uCNC/src/hal/mcus/esp32/mcu_esp32.c
  uCNC/src/hal/mcus/lpc176x/mcu_lpc176x.c
  uCNC/src/hal/mcus/mcu.h
  uCNC/src/hal/mcus/samd21/mcu_samd21.c
  uCNC/src/hal/mcus/stm32f1x/mcu_stm32f1x.c
  uCNC/src/hal/mcus/stm32f4x/mcu_stm32f4x.c
Labels: bug, tested: OK, HAL: multi platform

#357 version bump to 1.5.7
  CHANGELOG.md
  README.md
  uCNC/src/cnc_build.h
Labels: tested: OK

#358 set default configuration options
  uCNC/cnc_config.h
  uCNC/src/interface/defaults.h
  uCNC/src/interface/settings.c
Labels: core: config, enhancement
