Repository Paciente8159/uCNC, pull requests merged in 2023-05, with the labels that each got.

#376 prevent ? report command clear without response
  uCNC/src/cnc.c
Labels: bug, tested: OK, core: general

#373 tweaked modules
  uCNC/src/cnc_build.h
  uCNC/src/core/parser.c
  uCNC/src/core/parser.h
  uCNC/src/interface/grbl_interface.h
  uCNC/src/interface/protocol.c
  uCNC/src/interface/settings.c
  uCNC/src/module.h
  uCNC/src/modules/digimstep.c
  uCNC/src/modules/digipot.c
  uCNC/src/modules/tmcdriver.c
Labels: tested: OK, module: core, enhancement

#382 replaced missing pin checking by ASSERT_PIN macro
  uCNC/src/modules/digimstep.c
  uCNC/src/modules/digipot.c
  uCNC/src/modules/tmcdriver.c
Labels: bug, core: config, core: general

#384 reviewed TinyUSB related macros on all MCU
  uCNC/src/hal/mcus/lpc176x/mcumap_lpc176x.h
  uCNC/src/hal/mcus/samd21/mcumap_samd21.h
  uCNC/src/hal/mcus/stm32f1x/mcumap_stm32f1x.h
  uCNC/src/hal/mcus/stm32f4x/mcumap_stm32f4x.h
Labels: bug, HAL: STM32F1x, HAL: SAMD21, HAL: STM32F4x, HAL: LPC176x

#385 SKR Turbo serial to Wifi options
  uCNC/src/hal/boards/lpc176x/boardmap_skr_v14_turbo.h
  uCNC/src/hal/mcus/lpc176x/mcumap_lpc176x.h
Labels: HAL: LPC176x, enhancement

#386 use LPC Framework USB CDC
  uCNC/src/hal/boards/lpc176x/boardmap_skr_v14_turbo.h
  uCNC/src/hal/boards/lpc176x/lpc176x.ini
  uCNC/src/hal/mcus/lpc176x/lpc176x_usb.cpp
  uCNC/src/hal/mcus/lpc176x/mcu_lpc176x.c
  uCNC/src/hal/mcus/lpc176x/mcumap_lpc176x.h
Labels: bug, tested: OK, HAL: LPC176x

#388 TMC MCodes handles undefined axis
  uCNC/src/core/parser.c
  uCNC/src/core/parser.h
  uCNC/src/modules/tmcdriver.c
Labels: bug, tested: OK, module: TMC

#391 System menu fixes
  uCNC/src/modules/system_menu.c
  uCNC/src/modules/system_menu.h
Labels: tested: OK, enhancement, module: system menu

#393 Homing events
  uCNC/src/core/motion_control.c
  uCNC/src/core/motion_control.h
Labels: new feature: core, tested: OK, request: new core feature, enhancement

#395 added '~' passthrough logic
  uCNC/src/interface/serial.c
Labels: new feature: core, tested: OK, core: parser, enhancement

#399 fixed jog cancelation position synch
  uCNC/src/cnc.c
Labels: bug, tested: OK, core: motion control

#398 system menu jog display axis realtime position
  uCNC/src/modules/system_menu.c
  uCNC/src/modules/system_menu.h
Labels: bug, tested: OK, enhancement, module: system menu

#402 Add extra UART port
  docs/mcumap_gen.xlsx
  uCNC/src/cnc_hal_config_helper.h
  uCNC/src/hal/mcus/avr/mcu_avr.c
  uCNC/src/hal/mcus/avr/mcumap_avr.h
  uCNC/src/hal/mcus/esp32/mcu_esp32.c
  uCNC/src/hal/mcus/esp32/mcumap_esp32.h
  uCNC/src/hal/mcus/lpc176x/mcu_lpc176x.c
  uCNC/src/hal/mcus/lpc176x/mcumap_lpc176x.h
  uCNC/src/hal/mcus/mcu.c
  uCNC/src/hal/mcus/mcu.h
  uCNC/src/hal/mcus/rp2040/mcumap_rp2040.h
  uCNC/src/hal/mcus/rp2040/rp2040_arduino.cpp
  uCNC/src/hal/mcus/samd21/mcu_samd21.c
  uCNC/src/hal/mcus/samd21/mcumap_samd21.h
  uCNC/src/hal/mcus/stm32f1x/mcu_stm32f1x.c
  uCNC/src/hal/mcus/stm32f1x/mcumap_stm32f1x.h
  uCNC/src/hal/mcus/stm32f4x/mcu_stm32f4x.c
  uCNC/src/hal/mcus/stm32f4x/mcumap_stm32f4x.h
  uCNC/src/modules/softuart.c
  uCNC/src/modules/system_menu.h
Labels: needs: testing, request: HAL, enhancement

#403 fixed macro errors if both UART defined
  uCNC/src/hal/mcus/avr/mcu_avr.c
  uCNC/src/hal/mcus/avr/mcumap_avr.h
Labels: bug, HAL: AVR, tested: OK
