Repository Paciente8159/uCNC, pull requests merged in 2024-09, with the labels that each got.

#748 I2S and realtime IO fixes
  uCNC/src/hal/boards/esp32/boardmap_mks_dlc32.h
  uCNC/src/hal/boards/esp32/boardmap_mks_tinybee.h
  uCNC/src/hal/mcus/esp32/mcu_esp32.c
Labels: bug, needs: testing, HAL: ESP32

#749 added boardmap for Melzi v1.1.4
  uCNC/src/hal/boards/avr/avr.ini
  uCNC/src/hal/boards/avr/boardmap_melzi_v114.h
  uCNC/src/hal/boards/boarddefs.h
  uCNC/src/hal/boards/boards.h
  uCNC/src/hal/boards/stm32/bluepill_debug_cmsis_dap.cfg
  uCNC/src/hal/boards/stm32/bluepill_debug_stlink.cfg
Labels: HAL: AVR, new feature: HAL

#751 fix status report send when sender adds LF after ?
  uCNC/src/cnc.c
Labels: tested: OK, core: parser, enhancement

#752 Custom board overrides
  platformio.ini
  uCNC/cnc_config.h
  uCNC/src/cnc_hal_config_helper.h
  uCNC/src/hal/boards/avr/avr.ini
  uCNC/src/hal/boards/avr/boardmap_melzi_v114.h
  uCNC/src/hal/boards/avr/boardmap_mks_dlc.h
  uCNC/src/hal/boards/avr/boardmap_mks_gen_l_v1.h
  uCNC/src/hal/boards/avr/boardmap_rambo14.h
  uCNC/src/hal/boards/avr/boardmap_ramps14.h
  uCNC/src/hal/boards/avr/boardmap_ramps14_mirror.h
  uCNC/src/hal/boards/avr/boardmap_uno.h
  uCNC/src/hal/boards/avr/boardmap_uno_shield_v3.h
  uCNC/src/hal/boards/avr/boardmap_x_controller.h
  uCNC/src/hal/boards/avr/mega_ide_pins.h
  uCNC/src/hal/boards/boarddefs.h
  uCNC/src/hal/boards/boards.h
  uCNC/src/hal/boards/esp32/boardmap_esp32_shield_v3.h
  uCNC/src/hal/boards/esp32/boardmap_mks_dlc32.h
  uCNC/src/hal/boards/esp32/boardmap_mks_tinybee.h
  uCNC/src/hal/boards/esp32/boardmap_wemos_d1_r32.h
  uCNC/src/hal/boards/esp32/esp32.ini
  uCNC/src/hal/boards/esp8266/boardmap_wemos_d1.h
  uCNC/src/hal/boards/esp8266/esp8266.ini
  uCNC/src/hal/boards/lpc176x/boardmap_mks_base13.h
  uCNC/src/hal/boards/lpc176x/boardmap_re_arm.h
  uCNC/src/hal/boards/lpc176x/boardmap_skr_v14_turbo.h
  uCNC/src/hal/boards/lpc176x/lpc176x.ini
  uCNC/src/hal/boards/rp2040/boardmap_rpi_pico.h
  uCNC/src/hal/boards/rp2040/boardmap_rpi_pico_w.h
  uCNC/src/hal/boards/rp2040/rp2040.ini
  uCNC/src/hal/boards/samd21/boardmap_mzero.h
  uCNC/src/hal/boards/samd21/boardmap_zero.h
  uCNC/src/hal/boards/samd21/samd21.ini
  uCNC/src/hal/boards/stm32/boardmap_blackpill.h
  uCNC/src/hal/boards/stm32/boardmap_bluepill.h
  uCNC/src/hal/boards/stm32/boardmap_bluepill_f0.h
  uCNC/src/hal/boards/stm32/boardmap_mks_robin_nano_V3_1.h
  uCNC/src/hal/boards/stm32/boardmap_mks_robin_nano_v1_2.h
  uCNC/src/hal/boards/stm32/boardmap_mks_robin_nano_v3_1.h
  uCNC/src/hal/boards/stm32/boardmap_nucleo_f411re_shield_v3.h
  uCNC/src/hal/boards/stm32/boardmap_srk_pro_v1_2.h
  uCNC/src/hal/boards/stm32/stm32.ini
  uCNC/src/hal/mcus/README.md
  uCNC/src/hal/mcus/rp2040/mcumap_rp2040.h
  uCNC/uCNC.ino.cpp
  uCNC/webconfig.ini
Labels: core: config, tested: OK, HAL: multi platform, new feature: HAL, enhancement

#754 Download script for modules via PIO
  platformio.ini
  uCNC/src/hal/boards/avr/avr.ini
  uCNC/webconfig.ini
  ucnc_modules.py
Labels: module: core, enhancement

#755 Fixed STM32F4 I2C pin AF config
  uCNC/src/hal/boards/stm32/boardmap_mks_robin_nano_V3_1.h
  uCNC/src/hal/boards/stm32/boardmap_mks_robin_nano_v3_1.h
  uCNC/src/hal/mcus/stm32f4x/mcu_stm32f4x.c
Labels: bug, tested: OK, HAL: STM32F4x

#756 fix error with custom debug stream
  uCNC/src/interface/serial.c
  uCNC/src/interface/serial.h
Labels: bug, needs: testing

#750 add CoreXZ kinematic
  uCNC/src/hal/kinematics/kinematic_corexy.c
  uCNC/src/hal/kinematics/kinematic_corexy.h
  uCNC/src/hal/kinematics/kinematics.h
Labels: new feature: HAL, request: HAL
