Repository Paciente8159/uCNC, pull requests merged in 2024-01, with the labels that each got.

#583 Fixed home motion flushing after homing resume (with or without error)
  uCNC/src/cnc.c
Labels: bug, core: motion control

#585 Fixed PWM configuration macro for STM32 F4x family MCUs
  uCNC/src/hal/mcus/stm32f4x/mcumap_stm32f4x.h
Labels: bug, HAL: STM32F4x

#587 more stable step update via windows timer
  makefiles/virtual/mcu_virtual.cpp
  uCNC/src/hal/mcus/virtual/virtual.ini
Labels: tested: OK, HAL: Virtual MCU Windows

#589 fixed mantissa checking for G38
  uCNC/src/core/parser.c
Labels: bug, tested: OK

#586 modified probing for better precision
  uCNC/src/cnc_hal_config_helper.h
  uCNC/src/core/interpolator.c
  uCNC/src/core/io_control.c
  uCNC/src/core/motion_control.c
  uCNC/src/core/parser.c
  uCNC/src/core/parser.h
Labels: tested: OK, core: motion control, enhancement

#590 CNC state flags cleaning
  uCNC/src/cnc.c
  uCNC/src/cnc.h
  uCNC/src/core/interpolator.c
  uCNC/src/core/motion_control.c
  uCNC/src/hal/kinematics/kinematic_cartesian.c
  uCNC/src/hal/kinematics/kinematic_corexy.c
  uCNC/src/hal/kinematics/kinematic_delta.c
  uCNC/src/hal/kinematics/kinematic_linear_delta.c
  uCNC/src/hal/kinematics/kinematic_scara.c
Labels: tested: OK, core: motion control, core: general

#592 fixed tool speed report functions
  uCNC/src/core/planner.c
  uCNC/src/hal/tools/README.md
  uCNC/src/hal/tools/tool.c
  uCNC/src/hal/tools/tool.h
  uCNC/src/hal/tools/tools/laser_pwm.c
  uCNC/src/hal/tools/tools/pen_servo.c
  uCNC/src/hal/tools/tools/spindle_besc.c
  uCNC/src/hal/tools/tools/spindle_pwm.c
  uCNC/src/hal/tools/tools/vfd_pwm.c
Labels: bug, core: HAL, tested: OK

#593 Reduce code for uno
  uCNC/src/cnc.c
  uCNC/src/core/parser.c
  uCNC/src/core/parser.h
  uCNC/src/hal/boards/avr/boardmap_uno.h
  uCNC/src/hal/mcus/avr/mcu_avr.c
  uCNC/src/hal/tools/tool.c
  uCNC/src/interface/protocol.c
  uCNC/src/interface/serial.c
Labels: tested: OK, core: general

#596 added multistream parallel access guard option
  uCNC/src/interface/serial.c
  uCNC/src/interface/serial.h
Labels: tested: OK, core: parser

#594 added motion control incremental jog command
  uCNC/src/core/motion_control.c
  uCNC/src/core/motion_control.h
Labels: tested: OK, core: motion control

#598 fix UART ISR vector macro for AVR
  uCNC/src/hal/boards/avr/avr.ini
  uCNC/src/hal/mcus/avr/mcumap_avr.h
Labels: bug, HAL: AVR, tested: OK

#600 Softuart fix and onewire
  uCNC/src/modules/softuart.c
  uCNC/src/modules/softuart.h
  uCNC/src/modules/tmcdriver.c
Labels: bug, tested: OK, module: core

#601 fixed ESP8266 wifi rx reading wrong buffer
  uCNC/src/hal/mcus/esp8266/esp8266_arduino.cpp
Labels: bug, tested: OK, HAL: ESP8266

#603 Issue 602 : Add LIMIT_C_INV_MASK to LIMITS_INV_MASK
  uCNC/src/cnc_hal_config_helper.h
Labels: bug, core: HAL

#604 Corrected PID implementation.
  uCNC/src/hal/tools/tools/spindle_pwm.c
  uCNC/src/hal/tools/tools/vfd_pwm.c
  uCNC/src/modules/pid.c
  uCNC/src/modules/pid.h
Labels: bug, module: PID
