Repository Paciente8159/uCNC, pull requests merged in 2024-07, with the labels that each got.

#691 SPI improvements
  uCNC/src/cnc_build.h
  uCNC/src/hal/mcus/avr/mcu_avr.c
  uCNC/src/hal/mcus/avr/mcumap_avr.h
  uCNC/src/hal/mcus/esp32/esp32_arduino.cpp
  uCNC/src/hal/mcus/esp32/mcumap_esp32.h
  uCNC/src/hal/mcus/esp8266/esp8266_arduino.cpp
  uCNC/src/hal/mcus/esp8266/mcumap_esp8266.h
  uCNC/src/hal/mcus/lpc176x/mcu_lpc176x.c
  uCNC/src/hal/mcus/lpc176x/mcumap_lpc176x.h
  uCNC/src/hal/mcus/mcu.c
  uCNC/src/hal/mcus/mcu.h
  uCNC/src/hal/mcus/rp2040/rp2040_arduino.cpp
  uCNC/src/hal/mcus/samd21/mcu_samd21.c
  uCNC/src/hal/mcus/samd21/mcumap_samd21.h
  uCNC/src/hal/mcus/stm32f0x/mcu_stm32f0x.c
  uCNC/src/hal/mcus/stm32f0x/mcumap_stm32f0x.h
  uCNC/src/hal/mcus/stm32f1x/mcu_stm32f1x.c
  uCNC/src/hal/mcus/stm32f1x/mcumap_stm32f1x.h
  uCNC/src/hal/mcus/stm32f4x/mcu_stm32f4x.c
  uCNC/src/hal/mcus/stm32f4x/mcumap_stm32f4x.h
  uCNC/src/module.h
  uCNC/src/modules/softspi.c
  uCNC/src/modules/softspi.h
Labels: tested: OK, HAL: multi platform, module: core, enhancement

#693 homing code optimization and cleaning
  uCNC/src/core/io_control.c
  uCNC/src/core/motion_control.c
Labels: core: motion control

#695 ESP USE_ARDUINO_SPI_LIBRARY enabled by default
  uCNC/src/hal/boards/esp32/esp32.ini
Labels: bug, tested: OK, HAL: ESP32

#698 Fix STM32 compilation error if probe not defined
  uCNC/src/hal/boards/stm32/boardmap_blackpill.h
  uCNC/src/hal/mcus/avr/mcumap_avr.h
  uCNC/src/hal/mcus/stm32f1x/mcumap_stm32f1x.h
  uCNC/src/hal/mcus/stm32f4x/mcumap_stm32f4x.h
Labels: bug, core: HAL, core: config, tested: OK, HAL: STM32F1x, HAL: STM32F4x, HAL: STM32F0x

#696 Merged custom Grbl commands and board custom Grbl commands logic
  uCNC/src/core/motion_control.c
  uCNC/src/core/parser.c
  uCNC/src/core/parser.h
  uCNC/src/hal/mcus/esp32/esp32_arduino.cpp
  uCNC/src/hal/mcus/esp8266/esp8266_arduino.cpp
  uCNC/src/hal/mcus/mcu.c
  uCNC/src/hal/mcus/mcu.h
  uCNC/src/hal/mcus/rp2040/rp2040_arduino.cpp
Labels: core: HAL, tested: OK, core: parser, HAL: ESP8266, HAL: ESP32, enhancement, HAL: RP2040

#699 Fix SPI implementation for STM32 MCUs
  uCNC/src/hal/mcus/stm32f0x/mcu_stm32f0x.c
  uCNC/src/hal/mcus/stm32f1x/mcu_stm32f1x.c
  uCNC/src/hal/mcus/stm32f4x/mcu_stm32f4x.c
Labels: bug, HAL: STM32F1x, HAL: STM32F4x, HAL: STM32F0x

#703 ESP32 SPI configuration fixes
  uCNC/src/hal/mcus/esp32/esp32_arduino.cpp
  uCNC/src/hal/mcus/esp32/mcu_esp32.c
Labels: bug, HAL: ESP32

#704 allow HAL access to SPI CS pin in master mode
  docs/mcumap_gen.xlsx
  uCNC/src/hal/io_hal.h
Labels: core: HAL

#705 Fixed file system system commands
  CHANGELOG.md
  uCNC/src/cnc_build.h
  uCNC/src/modules/file_system.c
Labels: bug, tested: OK, module: file system

#707 fixed ESP8266 micros calls and SPI xmit
  uCNC/src/hal/mcus/esp8266/esp8266_arduino.cpp
  uCNC/src/hal/mcus/esp8266/mcu_esp8266.c
Labels: bug, tested: OK, HAL: ESP8266

#701 General support for SPI bulk transfers
  uCNC/src/hal/boards/esp32/esp32.ini
  uCNC/src/hal/mcus/README.md
  uCNC/src/hal/mcus/avr/mcu_avr.c
  uCNC/src/hal/mcus/esp32/esp32_arduino.cpp
  uCNC/src/hal/mcus/esp32/mcu_esp32.c
  uCNC/src/hal/mcus/esp8266/esp8266_arduino.cpp
  uCNC/src/hal/mcus/lpc176x/mcu_lpc176x.c
  uCNC/src/hal/mcus/lpc176x/mcumap_lpc176x.h
  uCNC/src/hal/mcus/mcu.c
  uCNC/src/hal/mcus/mcu.h
  uCNC/src/hal/mcus/rp2040/mcu_rp2040.c
  uCNC/src/hal/mcus/rp2040/rp2040_arduino.cpp
  uCNC/src/hal/mcus/samd21/mcu_samd21.c
  uCNC/src/hal/mcus/stm32f0x/mcu_stm32f0x.c
  uCNC/src/hal/mcus/stm32f1x/mcu_stm32f1x.c
  uCNC/src/hal/mcus/stm32f4x/mcu_stm32f4x.c
  uCNC/src/module.h
  uCNC/src/modules/softspi.c
  uCNC/src/modules/softspi.h
Labels: needs: testing, HAL: multi platform, new feature: module, new feature: HAL

#700 Bulk transfer SPI function
  uCNC/src/hal/boards/samd21/boardmap_mzero.h
  uCNC/src/hal/boards/stm32/boardmap_blackpill.h
  uCNC/src/hal/boards/stm32/boardmap_bluepill.h
  uCNC/src/hal/boards/stm32/boardmap_bluepill_f0.h
  uCNC/src/hal/mcus/avr/mcu_avr.c
  uCNC/src/hal/mcus/samd21/mcu_samd21.c
  uCNC/src/hal/mcus/samd21/mcumap_samd21.h
  uCNC/src/hal/mcus/stm32f0x/mcu_stm32f0x.c
  uCNC/src/hal/mcus/stm32f0x/mcumap_stm32f0x.h
  uCNC/src/hal/mcus/stm32f1x/mcu_stm32f1x.c
  uCNC/src/hal/mcus/stm32f1x/mcumap_stm32f1x.h
  uCNC/src/hal/mcus/stm32f4x/mcu_stm32f4x.c
  uCNC/src/hal/mcus/stm32f4x/mcumap_stm32f4x.h
Labels: HAL: STM32F4x, new feature: HAL

#712 RP2040 SPI bulk transfer
  uCNC/src/hal/boards/rp2040/boardmap_rpi_pico.h
  uCNC/src/hal/mcus/rp2040/rp2040_arduino.cpp
Labels: HAL: RP2040

#714 Minor STM32 fixes
  uCNC/src/hal/mcus/stm32f0x/mcu_stm32f0x.c
  uCNC/src/hal/mcus/stm32f1x/mcu_stm32f1x.c
  uCNC/src/hal/mcus/stm32f4x/mcu_stm32f4x.c
Labels: HAL: STM32F1x, HAL: STM32F4x, HAL: STM32F0x

#715 better hard and soft SPI sharing
  uCNC/src/hal/mcus/esp32/esp32_arduino.cpp
  uCNC/src/hal/mcus/esp32/mcu_esp32.c
  uCNC/src/hal/mcus/esp8266/esp8266_arduino.cpp
  uCNC/src/hal/mcus/mcu.c
  uCNC/src/hal/mcus/mcu.h
  uCNC/src/hal/mcus/rp2040/rp2040_arduino.cpp
  uCNC/src/hal/mcus/samd21/mcu_samd21.c
  uCNC/src/modules/softspi.c
  uCNC/src/modules/softspi.h
Labels: tested: OK, module: core
