Repository Paciente8159/uCNC, pull requests merged in 2024-02, with the labels that each got.

#606 circular default event handler
  uCNC/src/module.h
Labels: tested: OK, module: core, enhancement

#609 make EEPROM arduino library the default for ESP32
  uCNC/src/hal/boards/esp32/esp32.ini
  uCNC/src/hal/mcus/esp32/mcumap_esp32.h
Labels: tested: OK, HAL: ESP32

#584 ESP32 I2S using buffered motion over DMA
  docs/mcumap_gen.xlsx
  sdkconfig.defaults
  uCNC/src/core/interpolator.c
  uCNC/src/core/interpolator.h
  uCNC/src/core/motion_control.c
  uCNC/src/core/motion_control.h
  uCNC/src/hal/boards/esp32/esp32.ini
  uCNC/src/hal/mcus/esp32/mcu_esp32.c
  uCNC/src/hal/mcus/esp32/mcumap_esp32.h
  uCNC/src/hal/mcus/esp8266/mcu_esp8266.c
  uCNC/src/modules/ic74hc595.c
  uCNC/src/modules/ic74hc595.h
Labels: tested: OK, HAL: ESP8266, HAL: ESP32

#610 Esp32 shield v3
  uCNC/src/hal/boards/boarddefs.h
  uCNC/src/hal/boards/boards.h
  uCNC/src/hal/boards/esp32/boardmap_esp32_shield_v3.h
  uCNC/src/hal/boards/esp32/esp32.ini
Labels: HAL: ESP32, new feature: HAL

#599 Move TMC driver to modules
  README.md
  docs/mcumap_gen.xlsx
  uCNC/cnc_hal_config.h
  uCNC/src/cnc_hal_config_helper.h
  uCNC/src/module.c
  uCNC/src/module.h
  uCNC/src/modules/softuart.c
  uCNC/src/modules/softuart.h
  uCNC/src/modules/tmc.c
  uCNC/src/modules/tmc.h
  uCNC/src/modules/tmcdriver.c
  uCNC/src/modules/tmcdriver.h
Labels: tested: OK, new feature: module, module: TMC

#608 Implemented WebSockets for µCNC
  data/README.md
  dependencies.lock
  uCNC/src/hal/boards/esp32/esp32.ini
  uCNC/src/hal/boards/esp8266/esp8266.ini
  uCNC/src/hal/boards/rp2040/rp2040.ini
  uCNC/src/hal/mcus/esp32/esp32_arduino.cpp
  uCNC/src/hal/mcus/esp32/mcumap_esp32.h
  uCNC/src/hal/mcus/esp8266/esp8266_arduino.cpp
  uCNC/src/hal/mcus/esp8266/mcu_esp8266.c
  uCNC/src/hal/mcus/esp8266/mcumap_esp8266.h
  uCNC/src/hal/mcus/rp2040/mcumap_rp2040.h
  uCNC/src/hal/mcus/rp2040/rp2040_arduino.cpp
  uCNC/src/module.c
  uCNC/src/modules/endpoint.h
  uCNC/src/modules/websocket.h
Labels: new feature: core, tested: OK, new feature: module

#612 Fs page update endpoint
  uCNC/src/hal/mcus/esp32/esp32_arduino.cpp
  uCNC/src/hal/mcus/esp8266/esp8266_arduino.cpp
  uCNC/src/hal/mcus/rp2040/mcu_rp2040.c
  uCNC/src/hal/mcus/rp2040/rp2040_arduino.cpp
Labels: tested: OK, HAL: ESP8266, HAL: ESP32, enhancement, HAL: RP2040

#618 Fixed STM32F4 I2C pin config
  uCNC/src/hal/mcus/stm32f4x/mcu_stm32f4x.c
Labels: bug, tested: OK, HAL: STM32F1x

#622 STM32F4 SPI configuration AFIO fixed
  uCNC/src/hal/mcus/stm32f4x/mcu_stm32f4x.c
  uCNC/src/hal/mcus/stm32f4x/mcumap_stm32f4x.h
Labels: bug, tested: OK, HAL: STM32F4x

#627 fixed range function for plasma thc
  uCNC/src/hal/tools/tools/plasma_thc.c
  uCNC/src/hal/tools/tools/spindle_pwm.c
  uCNC/src/hal/tools/tools/vfd_pwm.c
Labels: bug

#628 STM32 NucleoF411RE boardmap with CNC Shield V3
  uCNC/src/hal/boards/boarddefs.h
  uCNC/src/hal/boards/boards.h
  uCNC/src/hal/boards/stm32/boardmap_nucleo_f411re_shield_v3.h
  uCNC/src/hal/boards/stm32/stm32.ini
Labels: new feature: HAL

#629 fix mcumap for stm32f4
  uCNC/src/hal/mcus/stm32f4x/mcumap_stm32f4x.h
Labels: bug, HAL: STM32F4x

#632 fix no tool build error
  uCNC/src/cnc.c
Labels: bug, core: config

#636 prevent spindle restore message at restart
  uCNC/src/cnc.c
Labels: bug, core: parser

#634 added pins translations names
  docs/mcumap_gen.xlsx
  uCNC/cnc_config.h
  uCNC/src/hal/mcus/avr/mcumap_avr.h
  uCNC/src/interface/protocol.c
Labels: core: config, tested: OK, core: parser, enhancement

#637 Extended setting new events
  uCNC/src/interface/settings.c
  uCNC/src/interface/settings.h
  uCNC/src/module.h
Labels: core: config, tested: OK, module: core

#638 fixed UART2 detached callback
  uCNC/src/hal/mcus/avr/mcu_avr.c
  uCNC/src/hal/mcus/esp32/mcu_esp32.c
Labels: bug, HAL: AVR, HAL: ESP32

#639 detach uart2 with optional buffer
  docs/mcumap_gen.xlsx
  uCNC/src/hal/mcus/avr/mcu_avr.c
  uCNC/src/hal/mcus/esp32/esp32_arduino.cpp
  uCNC/src/hal/mcus/esp32/mcu_esp32.c
  uCNC/src/hal/mcus/lpc176x/mcu_lpc176x.c
  uCNC/src/hal/mcus/mcu.c
  uCNC/src/hal/mcus/rp2040/rp2040_arduino.cpp
  uCNC/src/hal/mcus/samd21/mcu_samd21.c
  uCNC/src/hal/mcus/stm32f1x/mcu_stm32f1x.c
  uCNC/src/hal/mcus/stm32f4x/mcu_stm32f4x.c
  uCNC/src/interface/serial.c
  uCNC/src/modules/softuart.c
  uCNC/src/utils.h
Labels: tested: OK, HAL: multi platform, module: core

#641 fixed settings reset propagation
  uCNC/src/interface/settings.c
  uCNC/src/interface/settings.h
Labels: core: config, module: core, enhancement

#642 fix RST cmd early execution
  uCNC/src/core/parser.c
Labels: core: parser

#643 MultiMCU nvm size setting
  uCNC/src/hal/mcus/esp32/esp32_arduino.cpp
  uCNC/src/hal/mcus/esp32/mcu_esp32.c
  uCNC/src/hal/mcus/esp8266/esp8266_arduino.cpp
  uCNC/src/hal/mcus/esp8266/mcu_esp8266.c
  uCNC/src/hal/mcus/lpc176x/lpc176x_arduino.cpp
  uCNC/src/hal/mcus/lpc176x/mcu_lpc176x.c
  uCNC/src/hal/mcus/mcudefs.h
  uCNC/src/hal/mcus/rp2040/mcu_rp2040.c
  uCNC/src/hal/mcus/samd21/mcu_samd21.c
  uCNC/src/hal/mcus/stm32f1x/mcu_stm32f1x.c
  uCNC/src/hal/mcus/stm32f4x/mcu_stm32f4x.c
Labels: core: config, tested: OK, HAL: multi platform

#644 fix spindle restore with jog cancel
  uCNC/src/cnc.c
Labels: bug, tested: OK, core: motion control

#646 fixed dwell to resume on alarm or error
  uCNC/src/cnc.c
  uCNC/src/cnc.h
  uCNC/src/core/motion_control.c
Labels: bug, core: parser

#645 MP SCARA kinematic
  uCNC/src/hal/kinematics/README.md
  uCNC/src/hal/kinematics/kinematic_scara.c
Labels: new feature: HAL, needs: awaiting review

#647 moved spindle restore to planner override
  uCNC/src/cnc.c
  uCNC/src/core/motion_control.c
  uCNC/src/core/planner.c
  uCNC/src/core/planner.h
Labels: bug, core: HAL, core: motion control

#648 Removed duplicated servo variables for ESP32
  uCNC/src/hal/mcus/esp32/mcu_esp32.c
Labels: bug, HAL: ESP32

#650 added additional Grbl emulation level
  uCNC/cnc_config.h
  uCNC/src/core/parser.c
  uCNC/src/interface/grbl_interface.h
  uCNC/src/interface/protocol.c
  uCNC/src/interface/protocol.h
  uCNC/src/interface/settings.c
Labels: core: general

#652 option to do limit checking inside step ISR
  uCNC/src/cnc_hal_config_helper.h
  uCNC/src/core/interpolator.c
Labels: core: HAL, core: config

#653 Allow I2C low speed clocks
  uCNC/src/hal/mcus/stm32f1x/mcu_stm32f1x.c
  uCNC/src/hal/mcus/stm32f1x/mcumap_stm32f1x.h
Labels: HAL: STM32F1x

#654 Use max atten in ESP32 ADC
  uCNC/src/hal/mcus/esp32/mcumap_esp32.h
Labels: HAL: ESP32

#655 Endpoint end wildcard handler
  uCNC/src/hal/mcus/esp32/esp32_arduino.cpp
  uCNC/src/hal/mcus/esp8266/esp8266_arduino.cpp
  uCNC/src/hal/mcus/rp2040/rp2040_arduino.cpp
  uCNC/src/modules/endpoint.h
Labels: tested: OK, module: core

#656 fixed STM32 I2C stop bit condition
  uCNC/src/hal/mcus/stm32f1x/mcu_stm32f1x.c
  uCNC/src/hal/mcus/stm32f4x/mcu_stm32f4x.c
Labels: bug, HAL: STM32F1x, HAL: STM32F4x
